

<h2 class="text-center">Lista De Empleados</h2>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
           
           <th>id </th>
           <th>nro_documento </th>
           <th>nombre </th>
           <th>apellido </th>
           <th>email </th>
           <th>fecha_nacimiento </th>
           <th>fecha_ingreso</th>
           <th>fecha_creacion</th> 
           <th>Acciones</th>
        </tr>
    </thead>

    <tbody class="table-blue">
        <tr *ngFor="let empleado of empleados">
           <td>{{empleado.id }}</td>
           <td>{{empleado.nro_documento }}</td>
           <td>{{empleado.nombre }}</td>
           <td>{{empleado.apellido }}</td>
           <td>{{empleado.email }}</td>
           <td>{{empleado.fecha_nacimiento | date: 'dd/MM/yyyy' }}</td>
           <td>{{empleado.fecha_ingreso | date: 'dd/MM/yyyy'}}</td>
           <td>{{empleado.fecha_creacion | date: 'dd/MM/yyyy hh:mm:ss'}}</td> 
           
           <td>
            <div class="d-flex justify-content-between">
            <button (click)= "actualizarEmpleado(empleado.id)" class="btn btn-info">Editar</button>
            <button (click)= "eliminarEmpelado(empleado.id)" class="btn btn-danger" style="margin-left : 10px">Eliminar</button>
            <button (click)= "verDetallesDelEmpleado(empleado.id)" class="btn btn-primary" style="margin-left : 10px">Ver Detalles</button>
            </div>
        </td> 
        </tr>
    </tbody>
</table>
