<h3 class="text-center m-5" >Detalles del Empleado</h3>
<div class="text-center ">
  
    <div>
        <label><b>Id: </b>{{empleado.id}}</label>
    </div>

    <div>
        <label><b>numero de documento: </b>{{empleado.nro_documento}}</label>
    </div>

    <div>
        <label><b>Nombre: </b>{{empleado.nombre}}</label>
    </div>

    <div>
        <label><b>Apellido: </b>{{empleado.apellido}}</label>
    </div>

    <div>
        <label><b>email: </b>{{empleado.email}}</label>
    </div>

    <div>
        <label><b>Fecha de Nacimiento:</b>{{empleado.fecha_nacimiento}}</label>
    </div>

    <div>
        <label><b>Fecha de Ingreso: </b>{{empleado.fecha_ingreso}}</label>
    </div>

</div>